body {
    background: cornsilk;
}
div {
    background: lightgrey;
    border: solid black;
    width: 60%;
    margin: auto;
    text-align: center;

}
table {
    margin: auto;
    width: 95%;
}

td, th {
    border: 2px solid red;
    text-align: center;
}